<!DOCTYPE html>
<html>
<head>
  <title>Twitter</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="user_nav">
  <% if current_user %>
    Signed in as <%= current_user.name %>
    <%= link_to "Sign out", signout_path %>
  <% else %>
    <%= link_to "Sign in with Twitter", "/auth/twitter"%>
  <% end %>
</div>
<br>

<h1> Search HashTag Tweets</h1>
<%= form_tag("/search", :method => "get") do %>
    <p> Tweets </p>
    <%= text_field_tag(:q) %>
    <%= text_field_tag(:address) %>
    <%= submit_tag("Tag Tweets") %>
<% end %>
<%= yield %>

</body>
</html>
