
<h2>HashTag Tweets</h2>
<div id="twts">
 <% @tweet.each do |tweet| %>
   <%= image_tag tweet.user.profile_image_url %>

  <p>URL </p> <%= image_tag tweet.url %>
   <div class="from">&mdash; @<%= tweet.user.screen_name %></div>
   <%= tweet.user.location %>
   <blockquote><%= tweet.text %></blockquote>
 <% end %>
</div>

