<!DOCTYPE html>
<html>
<head>
  <title>Instagram</title>

<div id="user_nav">
  <% if current_user %>
    Signed in as <strong><%= current_user.name %></strong>!
    <%= link_to "Sign out", signout_path, id: "sign_out" %>
  <% else %>
    <%= link_to "Sign in with Instagram", "/auth/instagram", id: "sign_in" %>
  <% end %>
</div>
<meta charset="utf-8"/>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<br>
<br>
<h1>Search HashTag Pics</h1>
<%= form_tag("/search", :method => "get") do %>
    <p> HashTag </p>
    <%= text_field_tag(:q) %>
    <%= submit_tag("Tag Search") %>
<% end %>
<br>
<%= yield %>

</body>
</html>
