<h1>Search Location Pics</h1>

<%= render 'form' %>
<br>
<br>
<% @instagram.each do |instagram| %>

    <%= image_tag instagram.images.standard_resolution.url %>

<% end %>
<br>
<h1>Searched Tag Media</h1>
<p>Tag Counts</p><%= @count%>
<br>
<% @tag1.each do |tag| %>

    <%= image_tag tag.images.standard_resolution.url %>

<% end %>
<% @tag2.each do |tag| %>

    <%= image_tag tag.images.standard_resolution.url %>

<% end %>
<% @tag3.each do |tag| %>

    <%= image_tag tag.images.standard_resolution.url %>

<% end %>
<% @tag4.each do |tag| %>

    <%= image_tag tag.images.standard_resolution.url %>

<% end %>

